[dir="rtl"] .home h2 {
    font-family: "Reem Kufi",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

[dir="rtl"] .home h1 {
    font-family: "Noto Nastaliq Urdu", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: -105px;
}

[dir="rtl"] .home p {
    font-family: 'Reem Kufi';
}