.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin-bottom: 0 !important;
}

.info {
  flex-basis: 65%;
}

.home h1,
.home .info ul {
  font-size: 49px;
  margin: 0 auto !important;
  position: relative;
  padding: 0;
  font-weight: bold;
}

.home .info ul {
  overflow: hidden;
  height: 65px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.home .info ul li {
  color: var(--main--color);
  position: relative;
  width: max-content;
  animation: slide 6s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -64.8px;
  }
}

.home .info li::after {
  position: absolute;
  content: "";
  height: 100%;
  border-left: 2px solid;
  left: 0;
  width: 100%;
  background-color: var(--background--color);
  animation: typing 3s steps(18) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.img {
  flex-basis: 40%;
  height: 100%;
  position: relative;
}

.img .background {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 17% 100%, 100% 100%);
  clip-path: polygon(100% 0, 17% 100%, 100% 100%);
  background-color: var(--main--color);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.img .image {
  position: absolute;
  position: absolute;
  width: 100%;
  right: 0;
  top: 13%;
}

.img img {
  width: 90%;
  /* padding: 15px 0px 15px 12px; */
  height: 538px;
  /* border-radius: 52px; */
  box-shadow: 0px 0px 20px var(--boxshadoe);
  outline: 1px solid var(--border--color);
  padding: 7px;
}

.home button i {
  padding-left: 39px;

  animation: move 1s linear(0 0%,
      0.22 2.1%,
      0.86 6.5%,
      1.11 8.6%,
      1.3 10.7%,
      1.35 11.8%,
      1.37 12.9%,
      1.37 13.7%,
      1.36 14.5%,
      1.32 16.2%,
      1.03 21.8%,
      0.94 24%,
      0.89 25.9%,
      0.88 26.85%,
      0.87 27.8%,
      0.87 29.25%,
      0.88 30.7%,
      0.91 32.4%,
      0.98 36.4%,
      1.01 38.3%,
      1.04 40.5%,
      1.05 42.7%,
      1.05 44.1%,
      1.04 45.7%,
      1 53.3%,
      0.99 55.4%,
      0.98 57.5%,
      0.99 60.7%,
      1 68.1%,
      1.01 72.2%,
      1 86.7%,
      1 100%) infinite;
}

@keyframes move {
  100% {
    margin: 0 20px 0 -20px;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
    align-items: normal;
    padding-left: 0;
    gap: 20px;
    margin-bottom: 30px !important;
  }

  .img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

  }

  .background {
    display: none;
  }

  .img {
    flex-basis: 58%;
  }
}

@media (max-width: 770px) {

  .home h1,
  .home .info ul {
    font-size: 38px;
  }

  .home h1:last-of-type {
    margin-bottom: 0;
  }

  @keyframes slide {
    100% {
      top: -50.4px;
    }
  }

  .home .info ul {
    height: 48px;
  }
}

@media (max-width: 514px) {

  .home h1,
  .home .info ul {
    font-size: 34px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 472px) {

  .home h1,
  .home .info ul {
    font-size: 29px;
  }

  @keyframes slide {
    100% {
      top: -38.4px;
    }
  }

  .home .info ul {
    height: 39px;
  }
}

@media (max-width: 400px) {

  .home h1,
  .home .info ul {
    font-size: 27px;
  }

  p {
    font-size: 12px;
  }

  .home .info ul {
    height: 35px;
  }
}