.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 15px;
    background-position-y: 0;
    cursor: pointer;
}

.projects_section a {
    width: 32%;
}

.cursor.more,.cursor.more_ar {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: black;
}
.cursor.more::before,.cursor.cursor.more_ar::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}
.cursor.more::before {
    content: "More Info";
}
.cursor.more_ar::before {
    content: "المزيد من المعلومات";
    font-size: 13px;

}